.header {
  &__container {
  }

  &__body {
    display: flex;
    height: 95px;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $tablet) {
      display: grid;
      grid-template-columns: 0.5fr 0.5fr 1.5fr;
      grid-template-rows: repeat(2, auto);
      height: 115px;
    }
    @media (max-width: $mob) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, auto);
      gap: 10px;
      height: 190px;
    }
    @media (max-width: $mobSmall) {
      gap: 0px;
      row-gap: 17px;
      height: auto;
      padding: 25px 0px;
    }
  }

  &__logo {
    margin-right: 9px;
    img {
      width: 133px;
      @media (max-width: $mobSmall) {
        width: 150px;
      }
    }
    @media (max-width: $mob) {
      grid-area: 1 / 1 / 2 / 3;
    }
  }

  &__provide {
    flex: 0 0 143px;
    font-size: 9px;
    line-height: 109%;
    color: $gray;
    padding-left: 15px;
    border-left: 0.75px solid #e0e0e0;
    margin-right: 10px;
    @media (max-width: $mob) {
      padding: 0;
      margin: 0;
      border: none;
      display: flex;
      justify-content: flex-end;
      grid-area: 1 / 3 / 2 / 5;
    }
  }

  &__numbers {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
    @media (max-width: $pc) {
      flex-wrap: wrap;
    }
    @media (max-width: $mob) {
      justify-content: flex-start;
      align-items: flex-start;
      grid-area: 2 / 1 / 3 / 4;
    }
    @media (max-width: $mobSmall) {
      gap: 0px;
      row-gap: 7px;
      margin: 0;
    }
  }

  &__number {
    font-weight: 700;
    font-size: 9px;
    display: flex;
    align-items: center;
    color: #393939;
    span {
      font-weight: 400;
      margin-left: 3px;
      @media (max-width: $mob) {
        margin: 0;
        margin-top: 3px;
      }
    }
    transition: color 0.3s;
    &:hover {
      color: $blue;
    }
    @media (max-width: $tablet) {
      flex: 0 1 calc(50% - 10px);
    }
    @media (max-width: $mob) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__socials {
    div {
      display: flex;
      align-items: center;
      height: 10px;
      gap: 10px;
      margin-right: 15px;
      @media (max-width: 1050px) {
        flex-wrap: wrap;
        height: auto;
      }
      @media (max-width: $tablet) {
        width: 45px;
      }
      @media (max-width: $mob) {
        margin-right: 0;
      }
      @media (max-width: $mobSmall) {
        width: 77px;
      }
    }

    @media (max-width: $mob) {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      grid-area: 2 / 4 / 3 / 5;
    }
  }

  &__social {
    height: 10px;
    transition: opacity 0.3s;
    img {
      height: 10px;
    }
    &:hover {
      opacity: 0.7;
    }
    @media (max-width: 1050px) {
      flex: 0 1 calc(50% - 5px);
      display: flex;
      justify-content: center;
    }
    @media (max-width: $mobSmall) {
      height: 15px;
      img {
        height: 20px;
      }
    }
  }

  &__button {
    min-width: 126px;
    width: 126px;
    background: linear-gradient(55.17deg, #4071b3 15.27%, #28bbc0 85.1%);
    //  -webkit-background-clip: text;
    //  -webkit-text-fill-color: transparent;
    //  background-clip: text;
    //  text-fill-color: transparent;
    padding: 7px 14px;
    border-radius: 3.75px;
    //  border: 1px solid #4071b3;
    font-weight: 600;
    font-size: 10px;
    position: relative;
    //
    $border: 1px;
    background: $fon;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(55.17deg, #4071b3 15.27%, #28bbc0 85.1%);
    }
    p {
      position: relative;
      z-index: 2;
      background: linear-gradient(55.17deg, #4071b3 15.27%, #28bbc0 85.1%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
    @media (max-width: $mob) {
      grid-area: 3 / 1 / 4 / 3;
    }
    @media (max-width: $mobSmall) {
      width: 178px;
      padding: 10px 20px;
      font-size: 14px;
    }
  }

  &__yandex {
    margin-left: 10px;
    @media (max-width: $tablet) {
      display: flex;
      justify-content: flex-end;
    }
    @media (max-width: $mob) {
      grid-area: 3 / 3 / 4 / 5;
      display: flex;
      justify-content: flex-end;
    }
  }
  &__menu {
    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__line {
    border-bottom: 1px solid #e0e0e0;
    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    flex: 0 1 16%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
      position: absolute;
      content: '';
      background: #4071b3;
      height: 14px;
      width: 1px;
      top: 50%;
      right: 0;
      transform: translate(0%, -50%);
    }
    // border-right: 1px solid #4071b3;
    &:last-child {
      &::before {
        display: none;
      }
      justify-content: flex-end;
      flex: 0 1 10%;
    }
    &:first-child {
      justify-content: flex-start;
      flex: 0 1 10%;
    }
  }
  &__link {
    font-size: 10px;
    color: $black;
    transition: 0.3s color;
    &:hover {
      color: $blue;
    }
  }
}
