.strategy {
  &__container {
    display: flex;
    gap: 35px;
    align-items: center;
    @media (max-width: $tablet) {
      flex-direction: column;
      gap: 23px;
    }
    height: 652px;
    @media (max-width: $tablet) {
      height: auto;
    }
  }

  &__left {
    flex: 0 1 50%;
    position: relative;
  }

  &__img {
    &:nth-child(2) {
      position: relative;
      transform: translate(0, -60px);
      img {
        width: 100%;
      }
    }
    @media (max-width: $tablet) {
      &:nth-child(1) {
        img {
          width: 50%;
        }
      }
    }
  }

  &__right {
    flex: 0 1 50%;
    min-width: 0;
    // overflow: hidden;
    overflow: hidden;
  }

  &__wrapper {
    min-width: 0;
    display: flex;
    width: 100%;
    // flex-direction: column;
  }
  &__mob {
    display: none;
    @media (max-width: $tablet) {
      display: block;
    }
  }
  &__block {
    min-width: 0;
    width: 100%;
    flex: 0 0 100%;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 35px;
    @include gradient;
    @media (max-width: $mob) {
      font-weight: 700;
      font-size: 16px;
      line-height: 120%;
      margin-bottom: 10px;
    }
  }

  &__item {
    // margin-bottom: 300px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    @media (max-width: $mob) {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 10px;
    @media (max-width: $mob) {
      font-size: 14px;
    }
    &__b {
      margin-bottom: 20px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    @media (max-width: $mob) {
      font-size: 14px;
    }
  }
}
.plan {
}
